<h1>Show</h1>

<p>
  <strong>main_image:</strong>
  <%= image_tag @portfolio.main_image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @portfolio.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @portfolio.body %>
</p>

<% @portfolio.technologies.each do |t| %>
	<p> <%= t.name %></p>
<% end %>

<hr>

<%= params.inspect %>

<hr>

<%= session.inspect %>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>